<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="de.blau.android"
	android:versionName="@string/app_version"
	android:versionCode="14"
	android:installLocation="auto">
	
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<!-- <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" /> -->
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- cache tiles -->
	
	<uses-sdk android:minSdkVersion="5" android:targetSdkVersion="14" />
	
	<application
		android:name="de.blau.android.Application"
		android:label="@string/app_name"
		android:icon="@drawable/osm_logo"
		android:debuggable="true">
		<activity android:name="Main" android:theme="@style/Theme.Sherlock">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity
			android:name=".prefs.PrefEditor"
			android:label="@string/app_name_version"
		/>
		<activity android:name="BoxPicker" />
		<activity
			android:name="TagEditor" 
			android:theme="@android:style/Theme.Translucent"
		/>
		<!-- Service to download tiles -->
		<service android:name=".services.OpenStreetMapTileProviderService"
			android:process=":remote" android:label="OpenStreetMapTileProviderService">
			<intent-filter>
				<action android:name="de.blau.android.services.IOpenStreetMapTileProviderService"></action>
			</intent-filter>
		</service>
		<activity android:name=".prefs.APIEditorActivity"></activity>
		<activity android:name=".prefs.PresetEditorActivity"></activity>
		<activity android:name=".prefs.VespucciURLActivity">
			<intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="osmprefs"/>
            </intent-filter>	    
		</activity>
	</application>
</manifest> 