body,
table#about tr *
{
    font-family: sans-serif;
    line-height: 1.25em;
}

h1{ line-height:1.2em; }

body { margin: 2em; }
img#logo { float: left; }
img#logo, h1 { margin: 0 1em 0 0; }
a { white-space: nowrap; }

li { margin-bottom: 1em; }
body>p { width: 42em; }

table#about
{
    clear: left;
    margin: 3em 0 2em 0;
}

table tr th { text-align: left; }

table tr td
{
    padding-right: 1em;
    vertical-align: top;
}

/* first column: icon */
table tr td:first-child
{
    padding-left: 1em;
    padding-right: .25em;
}

/* last two columns: date and size */
table tr td + td + td,
table tr td + td + td + td
{
    font-size: 90%;
    font-family: monospace;
    white-space: pre;
}

/* override a bunch of the stuff above */
table#about tr th,
table#about tr td
{
    width: 20em;
    padding: 0 1em 0 0;
    font-size: 100%;
    white-space: normal;
}
