<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- use this just for generating test coverage on Android 11 and higher
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" /> -->

</manifest>