<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <application android:name="de.blau.android.App" >
        <activity
            android:name=".Main"
            android:launchMode="singleTop"
            tools:replace="android:launchMode" >
        </activity>
    </application>

</manifest>